@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.root {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include tablet {
    padding: 2rem 0;
  }
}

.text {
  padding: 1rem 2rem;
  font-family: $font-logo;
  color: $primary-yellow-1;
  text-shadow: -0.5rem 0.5rem 0 $primary-pink-1;
  z-index: 10;

  @include tablet {
    font-size: 5rem;
  }
}

.logo {
  width: 6rem;
  height: 8rem;
  position: relative;
  &:hover {
    & .bag {
      transform: translate(-50%, 1rem) rotate(0deg);
      &::before {
        transform: rotateX(180deg) rotate(0deg) translate(-50%, -1rem);
      }
    }

    & .planet {
      transform: translate(-50%, -4rem) scale(1);
    }
  }

  @include tablet {
    width: 6rem;
    height: 6rem;
  }
}

.bag {
  position: absolute;
  z-index: 20;
  transition: all 1s 0.5s;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) rotate(15deg);
  width: 5rem;
  height: 7rem;
  background-color: $light;
  clip-path: polygon(0 0, 100% 0, 100%);
  box-shadow: inset 0 1rem 0 0 $grey-light-3, inset 0 1.5rem 0 0 $grey,
    inset 1rem -1rem 0 0 $grey-light-3, inset -1rem -1rem 0 0 $grey-light-3;

  @include tablet {
    width: 3rem;
    height: 5rem;
  }

  &::before {
    content: '';
    position: absolute;
    transition: all 1s 0.2s;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 0.5rem solid $light;
    top: -2rem;
    left: 50%;
    transform: translateX(-50%);
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);

    @include tablet {
      width: 2rem;
      height: 2rem;
      top: -1rem;
    }
  }

  &::after {
    content: '';
    position: absolute;
    background: linear-gradient(
      90deg,
      $primary-pink-1,
      $primary-yellow-1,
      $primary-green-1,
      $primary-red-1
    );
    width: 2rem;
    height: 2rem;
    top: 60%;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include tablet {
      width: 1rem;
      height: 1rem;
    }
  }
}

.planet {
  position: absolute;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: linear-gradient(
    $primary-pink-1,
    $primary-yellow-1,
    $primary-green-1,
    $primary-red-1
  );
  transition: all 1s 0.2s;
  left: 50%;
  bottom: 0;
  z-index: 10;
  transform: translateX(-50%) scale(0.1);

  @include tablet {
    width: 2rem;
    height: 2rem;
  }
}
