@import '../../../styles/settings.scss';
@import '../../../styles//mixins.scss';

.root {
  max-width: 100vw;
  height: 100%;
  overflow: hidden;
}

.gridContainer {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 5rem;

  @include tablet {
    padding: 3rem;
  }

  @include mobile {
    padding: 1rem;
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.resultsContainer {
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 0;
  }

  @include mobile {
    grid-template-columns: 1fr;
    padding: 1rem 0;
  }
}
