@import '../../../styles/settings.scss';

.root {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: radial-gradient(
    $primary-blue-1,
    $primary-blue-4,
    $primary-blue-5,
    $primary-blue-6
  );
}
