@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.root {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  place-items: center;
  width: 100%;
  min-height: 50rem;
}

.formContainer {
  width: 40%;
  position: absolute;
  z-index: 1;
  transition: all 1s;

  &.formShow {
    transform: translateX(65%);
  }

  @include tablet {
    width: 70%;

    &.formShow {
      transform: translate(15%, 30%);
    }
  }

  @include mobile {
    width: 90%;

    transform: translateY(0) scale(0.5);

    &.formShow {
      transform: translateY(30%);
    }
  }
}

.tshirtContainer {
  position: absolute;
  background-color: $grey-light-3;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba($dark, 0.5);
  z-index: 10;
  cursor: pointer;
  transition: all 1s;

  &.show {
    transform: translateX(-35%);
  }

  @include tablet {
    padding: 1rem;

    &.show {
      transform: translate(-20%, -50%) scale(0.5);
    }
  }

  @include mobile {
    padding: 1rem;

    &.show {
      transform: translateY(-50%) scale(0.5);
    }
  }

  @include mobile-small {
    padding: 1rem;

    &.show {
      transform: translateY(-70%) scale(0.8);
    }
  }
}

.planetContainer {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);

  & .planet {
    transform: scale(0.25) rotate(-20deg);
  }
}

.tshirt {
  position: relative;
  display: block;
  width: 30rem;
  height: 25rem;
  background-color: $dark;
  transition: all 0.3s;
  clip-path: polygon(
    25% 0%,
    75% 0%,
    100% 25%,
    90% 40%,
    75% 25%,
    75% 100%,
    25% 100%,
    25% 25%,
    10% 40%,
    0% 25%
  );

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-top: 4rem solid $grey-dark-3;
    border-left: 4rem solid transparent;
    border-right: 4rem solid transparent;
  }

  @include tablet {
    width: 25rem;
    height: 20rem;
  }

  @include mobile-small {
    width: 20rem;
    height: 15rem;
  }
}

.CurrancyContainer {
  margin-top: 2rem;
}

.currancy {
  @include currancyStyles($dark, $light, 2rem, 2rem);
  color: $light;
  width: 50%;
  margin: 0 auto;
}
