// ==============
// Media Queries
// ==============

@mixin mobile-small {
  @media (max-width: 360px) and (min-height: 415px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 567px) and (min-height: 415px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 568px) and (max-width: 1199px) and (min-height: 415px) {
    @content;
  }
}

// ==============
// Utils
// ==============

@mixin currancyStyles($background, $theme, $size, $font-size) {
  background-color: $background;

  & :first-child {
    width: $size;
    height: $size;
    border-width: calc(#{$size} * 0.1);
    border-top-color: $theme;
    border-left-color: $theme;
    border-bottom-color: $theme;

    &::before {
      background-color: $theme;
      width: calc(#{$size} * 0.1);
    }

    &::after {
      background-color: $theme;
    }
  }

  & :last-child {
    font-size: $font-size;
  }
}

// ==============
// Buttons
// ==============

@mixin asideBtn($color, $width) {
  &,
  &:link,
  &:visited {
    position: relative;
    width: $width;
    text-align: center;
    padding: 1rem;
    background-color: rgba($light, 0.1);
    border-top: 1px solid rgba($light, 0.2);
    border-bottom: 1px solid rgba($light, 0.2);
    border-radius: 1rem;
    color: $light;
    font-size: 1.5rem;
    text-transform: uppercase;
    transition: all 0.5s;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: linear-gradient(to left, rgba($light, 0.05), transparent);
      transform: skew(30deg) scaleX(0.5) translateX(-50%);
      transition: all 0.3s;
    }
  }

  &:hover,
  &:focus,
  &.active {
    box-shadow: 0 0 1.5rem 0.05rem $color;
    background-color: $color;
    letter-spacing: 0.3rem;
    color: $dark;

    &::before {
      transform: skew(0) scaleX(1) translateX(0);
    }
  }

  &:active {
    letter-spacing: 0.2rem;
    color: $color;
  }
}

@mixin spaceBackground {
  background-color: $dark;
  background-image: radial-gradient(
      circle at center,
      $light 10%,
      transparent 20%
    ),
    radial-gradient(circle at center, $primary-yellow-1 10%, transparent 50%),
    radial-gradient(circle at center, $light 20%, transparent 50%),
    radial-gradient(circle at center, $light 10%, transparent 40%),
    radial-gradient(circle at center, $primary-yellow-2 20%, transparent 30%),
    radial-gradient(circle at center, $light 10%, transparent 50%),
    radial-gradient(circle at center, $primary-yellow-3 30%, transparent 60%),
    radial-gradient(circle at center, $primary-red-1 10%, transparent 30%),
    radial-gradient(circle at center, $light 20%, transparent 40%),
    radial-gradient(circle at center, $primary-yellow-4 50%, transparent 50%);
  background-size: 1rem 1rem;
  background-position: 79% 30%, 91% 33%, 96% 24%, 78% 18%, 70% 11%, 63% 3%,
    50% 5%, 10% 90%, 4% 63%, 47% 95%;
  background-repeat: no-repeat;
}
