// ===========
// TYPOGRAPHY
// ===========

$font-main: 'Roboto', sans-serif;
$font-logo: 'Audiowide', cursive;

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

// ===========
// COLORS
// ===========

$dark: #000;
$light: #fff;
$grey: #999;

$grey-dark-1: #111;
$grey-dark-2: #222;
$grey-dark-3: #333;

$grey-light-1: #666;
$grey-light-2: #777;
$grey-light-3: #f4f4f4;

$primary-green-1: #6bf2c1;
$primary-green-2: #4caa87;
$primary-green-3: #3a8569;
$primary-blue-1: #64def9;
$primary-blue-2: #2279f2;
$primary-blue-3: #1c62c4;
$primary-blue-4: #154b96;
$primary-yellow-1: #f2e641;
$primary-yellow-2: #f2c53d;
$primary-yellow-3: #b6942e;
$primary-red-1: #d94f30;
$primary-red-2: #963620;
$primary-pink-1: #d93280;
$primary-pink-2: #f2637e;
$primary-pink-3: #851e4e;

$landing-purple-1: #7e589e;
$landing-purple-2: #a36d9f;
