// ===========
// TYPOGRAPHY
// ===========

$font-main: 'Roboto', sans-serif;
$font-logo: 'Audiowide', cursive;

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

// ===========
// COLORS
// ===========
