@import '../../../styles/settings.scss';
@import '../../../styles//mixins.scss';

.root {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  z-index: 100;
}

.cartItems {
  margin-right: 2rem;

  & .cartList {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  & .cartItem {
    position: relative;
    width: 8rem;
    height: 5rem;
    margin-left: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    animation: showup 0.3s ease-in-out forwards;

    &:hover {
      & .trash {
        visibility: visible;
        opacity: 1;
      }

      & .priceTag {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  & .link {
    transform: scale(0.1);
  }

  & .planet {
    transform: scale(1);
  }

  & .trash {
    position: absolute;
    font-size: 1.5rem;
    color: $dark;
    top: 0.2rem;
    right: 0.2rem;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      color: $grey;
    }
  }

  & .priceTag {
    position: absolute;
    left: 50%;
    min-width: 100%;
    transform: translate(-50%, 150%);
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;

    & .currancyTag {
      @include currancyStyles($dark, $light, 1rem, 1rem);
      color: $light;
      padding: 0.5rem 1rem;
    }
  }
}

.currancyContainer {
  flex-basis: 17rem;
  height: 100%;
  border-left: 2px solid $grey-light-2;
}

.currancy {
  @include currancyStyles($light, $dark, 2rem, 2rem);
  height: inherit;
  width: 17rem;
}

@keyframes showup {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
