@import '../../../styles/settings.scss';

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconContainer {
  display: grid;
  place-items: center;
  margin: 1rem;
  transition: all 0.2s;

  & .icon {
    color: $light;
    font-size: 2rem;

    &:hover {
      color: $grey;
    }

    &:active {
      color: $grey-dark-3;
    }
  }
}

.input {
  width: 3rem;
  height: 3rem;
  text-align: center;
  border: 1px solid $dark;
  border-radius: 0.5rem;

  -moz-appearance: textfield;
  &:focus {
    outline-color: $dark;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
