@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.planetContainer {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);

  & .planet {
    transform: scale(0.25) rotate(-20deg);
  }
}

.tshirt {
  position: relative;
  display: block;
  background-color: $dark;
  transition: all 0.3s;
  clip-path: polygon(
    25% 0%,
    75% 0%,
    100% 25%,
    90% 40%,
    75% 25%,
    75% 100%,
    25% 100%,
    25% 25%,
    10% 40%,
    0% 25%
  );

  @include tablet {
    width: 25rem;
    height: 20rem;
  }

  @include mobile-small {
    width: 20rem;
    height: 15rem;
  }
}
