@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.root {
  position: relative;
  background-color: $primary-blue-1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 80%,
    75% 80%,
    65% 100%,
    35% 100%,
    25% 80%,
    0 80%
  );

  @include tablet {
    clip-path: polygon(
      0 0,
      100% 0,
      100% 90%,
      75% 90%,
      65% 100%,
      35% 100%,
      25% 90%,
      0 90%
    );
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $primary-blue-6;
    clip-path: polygon(
      0 0,
      100% 0,
      100% 78%,
      75% 78%,
      65% 98%,
      35% 98%,
      25% 78%,
      0 78%
    );

    @include tablet {
      clip-path: polygon(
        0 0,
        100% 0,
        100% 88%,
        75% 88%,
        65% 98%,
        35% 98%,
        25% 88%,
        0 88%
      );
    }
  }

  &::after {
    z-index: 1;
    content: '';
    position: absolute;
    width: 100%;
    height: 20%;
    top: 40%;
    background-image: linear-gradient(
        $primary-green-1 10%,
        transparent 10%,
        transparent 20%,
        $primary-blue-1 20%,
        $primary-blue-1 30%,
        transparent 30%,
        transparent 40%,
        $primary-yellow-1 40%,
        $primary-yellow-1 50%,
        transparent 50%,
        transparent 60%,
        $primary-red-1 60%,
        $primary-red-1 70%,
        transparent 70%,
        transparent 80%,
        $primary-pink-1 80%,
        $primary-pink-1 90%,
        transparent 90%
      ),
      linear-gradient(
        $primary-green-1 10%,
        transparent 10%,
        transparent 20%,
        $primary-blue-1 20%,
        $primary-blue-1 30%,
        transparent 30%,
        transparent 40%,
        $primary-yellow-1 40%,
        $primary-yellow-1 50%,
        transparent 50%,
        transparent 60%,
        $primary-red-1 60%,
        $primary-red-1 70%,
        transparent 70%,
        transparent 80%,
        $primary-pink-1 80%,
        $primary-pink-1 90%,
        transparent 90%
      );
    background-size: 30% 100%, 30% 100%;
    background-position: left, right;
    background-repeat: no-repeat;

    @include tablet {
      background-size: 20% 100%, 20% 100%;
    }
  }
}
