@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.root {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 2px solid $grey-light-2;

  @include tablet {
    width: 100%;
  }

  @include mobile {
    width: 100%;
  }

  & .currancyTag {
    @include tablet {
      @include currancyStyles(transparent, $dark, 2rem, 2rem);
    }

    @include mobile {
      @include currancyStyles(transparent, $dark, 2rem, 2rem);
    }

    @include mobile-small {
      @include currancyStyles(transparent, $dark, 2rem, 1.5rem);
    }
  }

  & .btnToggle {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    padding: 1rem;
    display: grid;
    place-items: center;
    background: transparent;

    @include mobile-small {
      right: 0;
    }
  }

  & .icon {
    @include tablet {
      font-size: 2.2rem;
      right: 2rem;
    }

    @include mobile {
      font-size: 2rem;
    }

    @include mobile-small {
      font-size: 1.5rem;
    }
  }
}
