@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.root {
  padding: 1rem;
  display: grid;
  place-items: center;
  margin: 0 5rem;

  @include tablet {
    margin: 0 0 0 5rem;
    padding: 0;
  }
}

.pager {
  background-color: $primary-pink-1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  border-bottom: 0.3rem solid $primary-pink-2;
  box-shadow: inset 1rem 0.5rem 0 0.2rem $primary-pink-3,
    inset -1rem 0 0 0.2rem $primary-pink-3, inset 0 0.8rem 0 0 rgba($light, 0.5),
    inset 0.5rem 6rem 0 $primary-pink-2;
  background-image: linear-gradient(
    $primary-pink-3,
    0.1rem,
    transparent 0.1rem
  );
  background-size: 1rem 1rem;
}

.controllers {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > * {
    border: none;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    color: $light;
    background-color: $grey-dark-3;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0.2rem 0 0 $grey-light-1,
      0 0.3rem 0.1rem rgba($dark, 0.2);
    transition: all 0.2s;

    &:hover {
      box-shadow: inset 0 0.3rem 0 0 $grey-light-1,
        0 0.4rem 0.1rem rgba($dark, 0.2);
      transform: translateY(0.1rem);
    }

    &:active {
      box-shadow: inset 0 0.1rem 0 0 $grey-light-1;
      transform: translate(-0.1rem, -0.1rem);
    }
  }
}

.screen {
  position: relative;
  background-color: $primary-green-1;
  padding: 2rem 4rem;
  width: 90%;
  border-radius: 1rem;
  box-shadow: inset -0.5rem -0.7rem 0 $primary-green-2,
    inset 0.5rem -0.7rem 0 $primary-green-2;

  &::before {
    content: '';
    position: absolute;
    width: 10%;
    height: calc(100% - 0.7rem);
    top: 0;
    opacity: 0;
    background-color: rgba($light, 0.5);
    transform: skew(-30deg);
    animation: screen-slide 10s 2s linear infinite;

    @include tablet {
      animation: mobile-screen-slide 10s 2s linear infinite;
    }
  }
}

@keyframes screen-slide {
  0% {
    opacity: 1;
    transform: skew(-30deg);
  }
  15% {
    opacity: 1;
    transform: skew(-30deg) translateX(800%);
  }
  20% {
    opacity: 0;
    transform: skew(-30deg) translateX(800%);
  }
  100% {
    opacity: 0;
  }
}

@keyframes mobile-screen-slide {
  0% {
    opacity: 1;
    transform: skew(-30deg);
  }
  15% {
    opacity: 1;
    transform: skew(-30deg) translateX(600%);
  }
  20% {
    opacity: 0;
    transform: skew(-30deg) translateX(600%);
  }
  100% {
    opacity: 0;
  }
}

.text {
  font-weight: $bold;
  text-transform: uppercase;
  text-align: center;
  color: $primary-green-3;
}

.textSpecial {
  color: $primary-yellow-1;
  padding: 1rem;
  background: -webkit-linear-gradient(
    -45deg,
    $primary-yellow-1,
    $primary-red-1,
    $primary-pink-1
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
