@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.root {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 0 5rem;

  @include tablet {
    grid-template-columns: 1fr;
  }

  @include mobile {
    grid-template-columns: 1fr;
    padding: 0 2rem;
  }
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5rem;

  @include tablet {
    margin-top: 5rem;
    margin-left: 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  @include mobile {
    margin-top: 5rem;
    margin-left: 0;
    align-items: center;
  }
}

.article {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 5rem 10rem 10rem;

  @include tablet {
    padding: 10rem 2rem;
  }

  @include mobile {
    margin: 2rem 0 4rem 0;
    padding: 0;
  }
}
