@import '../../../styles/settings.scss';

.root {
  display: grid;
  grid-template-columns: auto 1fr;
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.article {
  background-color: $landing-purple-1;
}
