@import '../../../styles/settings.scss';

.root {
  padding: 5rem 1rem;
  background-color: $grey-dark-2;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
}

.colorPicker {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

.sizePicker {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

.countPicker {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnSubmit {
  margin-left: 4rem;
  padding: 1rem 2rem;
  background-color: $dark;
  color: $light;
  text-transform: uppercase;
  font-size: 1.6rem;
  border-radius: 0.5rem;
}
