@import '../../../styles/settings.scss';

.root {
  width: 100%;
  height: 100%;
  padding: 5rem 1rem;
}

.colorPicker {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

.sizePicker {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}
