@import '../../../styles/settings.scss';

.root {
  position: relative;
  height: 20rem;
  margin-bottom: 2rem;
  background-color: $primary-green-2;
  box-shadow: inset 1.5rem 0.3rem 0 0.2rem $primary-green-1,
    inset -1.5rem 0.3rem 0 0.2rem $primary-green-1;
  background-image: linear-gradient(
    $primary-green-3 0.1rem,
    transparent 0.1rem
  );
  background-size: 1rem 1rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.4rem solid $primary-green-3;
}

.screen {
  position: relative;
  border-radius: 1rem;
  z-index: 1;
  width: calc(100% - 6rem);
  height: calc(100% - 6.5rem);
  background-color: $primary-blue-1;
  box-shadow: inset 0.5rem 0.5rem 0 0.2rem $primary-blue-2,
    inset -0.5rem 0.5rem 0 0.2rem $primary-blue-2;
  border-bottom: 0.1rem solid $primary-blue-2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    width: calc(100% - 80%);
    height: 94%;
    background-color: rgba($grey-light-3, 0.5);
    transform: skew(-30deg) translateX(100%);
    z-index: 1;
    // right: 30%;
    bottom: 0;

    animation: screen-slice 10s linear infinite;
  }
}

@keyframes screen-slice {
  0% {
    opacity: 1;
    transform: skew(-30deg) translateX(-100%);
  }
  10% {
    opacity: 1;
    transform: skew(-30deg) translateX(100%);
  }
  15% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.text {
  text-transform: uppercase;
  color: $primary-blue-2;
  font-weight: $bold;
  z-index: 20;
}

.buttonLogin {
  z-index: 20;
  color: $dark;
  border: none;
  padding: 1rem 2rem;
  border-radius: 1rem;
  text-transform: uppercase;
  background-color: $primary-yellow-2;
  box-shadow: inset 0 0.2rem 0 0 $primary-yellow-1, 0 0.5rem 0 $primary-yellow-3;
  transition: all 0.2s;

  &:active {
    box-shadow: inset 0 0.4rem 0 0 $primary-yellow-1,
      0 0.2rem 0 $primary-yellow-3;
    transform: translateY(0.4rem);
  }
}

.buttonSwitch {
  position: absolute;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  bottom: 0.3rem;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  background-color: $grey-dark-2;
  box-shadow: inset 0.1rem -0.25rem 0 0 $grey-light-1,
    inset -0.1rem -0.25rem 0 0 $grey-light-1;

  transition: all 0.1s;

  &:active {
    box-shadow: inset 0.1rem -0.1rem 0 0 $grey-light-1,
      inset -0.1rem -0.1rem 0 0 $grey-light-1;

    transform: translate(-50%, 0.1rem);
  }
}
