@import '../../../styles/settings.scss';
@import '../../../styles/mixins.scss';

.root {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 5rem;
  padding: 5rem;

  @include tablet {
    grid-template-columns: 1fr;
    grid-gap: 3rem;
    padding: 3rem;
  }

  @include mobile {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding: 1rem;
  }
}

.titleContainer {
  text-align: center;
  grid-column: 1/13;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  @include tablet {
    flex-direction: column;
    min-height: 25rem;
  }

  @include mobile {
    flex-direction: column;
    min-height: 25rem;
  }

  & .title {
    text-transform: uppercase;
    color: $grey;

    @include mobile {
      font-size: 3rem;
    }

    @include mobile-small {
      font-size: 2rem;
    }
  }

  & .link {
    &:link,
    &:visited {
      padding: 2rem 4rem;
      background-color: $dark;
      font-size: 2rem;
      color: $light;
      text-transform: uppercase;
      border-radius: 1rem;
      transition: all 0.3s;

      @include mobile-small {
        font-size: 1.6rem;
      }
    }

    &:hover,
    &:focus-within {
      background-color: $light;
      color: $dark;
    }
  }
}

.productsContainer {
  grid-column: 1/10;
  width: 100%;
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: 1fr;

  @include tablet {
    grid-column: 1/2;
    grid-row: 2;
    grid-gap: 3rem;
  }

  @include mobile {
    grid-column: 1/2;
    grid-row: 2;
    grid-gap: 1rem;
  }
}

.submitContainer {
  align-self: start;
  top: 0;
  width: 100%;
  position: sticky;
  grid-column: 10/13;

  @include tablet {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  @include mobile {
    grid-row: 1/2;
    grid-column: 1/2;
  }
}
